﻿@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>

<div id="app">
    @{
        if (Environment.GetEnvironmentVariables()["ASPNETCORE_ENVIRONMENT"].ToString() != "Development")
        {
            @Html.React("ReactComponents.App", new {val1 = "Top text", val2 = "rendered on server side"})
        }
    }
</div>

@{
    if (Environment.GetEnvironmentVariables()["ASPNETCORE_ENVIRONMENT"].ToString() != "Development")
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script>
        <script src="@Url.Content("~/js/react.client.bundle.js")"></script>
        @Html.ReactInitJavaScript()
    }
    else
    {
        <script src="@Url.Content("~/js/react.clientWithRender.bundle.js")"></script>
    }
}

</body>
</html>